$padding-default: 140px;
$padding-mobile: 50px;

$white-default: #f9f9f9;
$dark-default: #121212;
$medium-grey: #656565;
$dark-grey: #252525;
$purple-default: #4e2559;
$light-green: #34bf98;
$medium-green: #2a8c70;
