@import 'styles/default';
@import 'styles/breakpoints';

.projectsContainer {
  width: 100%;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem $padding-mobile;
  align-items: center;
  box-shadow: inset 0 5px 14px rgba(0,0,0,.03);
}

@media screen and (min-width: $mobile-devices) {
  .projectsContainer {
    padding: 3rem $padding-default;
  }
}

.loadingContainer {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 5px 14px rgba(0,0,0,.03);

  .loading {
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 18px solid $medium-grey;
    border-top: 18px solid transparent;

    animation: loading 1s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}