@import 'styles/default';
@import 'styles/breakpoints';

.footerContainer {
  background-color: $light-grey;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem $padding-default;
  width: 100%;

  @media screen and (max-width: $mobile-devices) {
    box-shadow: inset 15px 0 15px rgba(0,0,0,.05);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem $padding-mobile;

    div {
      padding: 1rem 0;
      width: 100%;
      text-align: center;
    }
  }
}

