@import 'styles/default';
@import 'styles/breakpoints';

.socialMedia {
  display: flex;
  align-items: center;
  padding-left: 45px;

  li {
    margin-right: 25px;
    &:last-child {
      margin: 0;
    }
  }

  a svg {
    color: $white-default;
    font-size: 1.8rem;
    transition: all .2s;

    &:hover {
      color: $dark-grey;
    }
  }
}

@media screen and (max-width: $mobile-devices) {
  .socialMedia {
    padding: 0;
    justify-content: center;
  }
}