@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}
